---
IndentWidth: 4
TabWidth: 4
ColumnLimit: 100
# GNU standard without IndentBraces
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
BreakBeforeBraces: Attach
InsertBraces: true
AllowShortFunctionsOnASingleLine: false